mat-toolbar{
  margin: 0px 0px 20px 0px;
  padding: 20px 50px 20px 50px;
  background-color: white;
  border-bottom: 1px solid #2C3E50;
}

.titulopricipal{

  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
  margin: 0px 5px 0px 5px;
}

.espaco {
  flex: 1 1 auto;
}
