<app-nav></app-nav>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="cardprodutos">
      <img mat-card-image src="/assets/img/produtos.png">
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/cadastro/produtos">
          <span> Cadastrar Produtos </span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cardpessoas">
      <img mat-card-image src="/assets/img/pessoas.png">
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/cadastro/pessoas">
          <span> Cadastrar Pessoas </span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>





