<app-nav></app-nav>

<mat-card>
  <h1> Cadastrar Novos Produtos </h1>
  <form>
    <table>
      <tr>
        <td>
          <mat-form-field class="campoNome" appearance="outline">
          <mat-label>nome</mat-label>
          <input type="text" matInput name="nome" [(ngModel)]="produto.nome">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="campoValor" appearance="outline">
            <mat-label>valor</mat-label>
            <input type="text" matInput name="valor" [(ngModel)]="produto.valor">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="campoDesc" appearance="outline">
          <mat-label>descrição</mat-label>
          <input type="text" matInput name="desc" [(ngModel)]="produto.desc">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <button mat-flat-button color="warn" routerLink="/cadastro/produtos">
    <mat-icon>arrow_back</mat-icon>
    <span> Voltar </span>
  </button>
  <button mat-flat-button color="primary" (click)="novoProduto()">
    <mat-icon>add</mat-icon>
    <span> Cadastrar </span>
  </button>
</mat-card>


