<!--
  <img mat-card-image src="/assets/img/Inicialdp.png">
  <img mat-card-image src="/assets/img/inicialhb.png">
  <img mat-card-image src="/assets/img/inicialhd.png">
-->
<!-- <mat-card>
  <img mat-card-image src="/assets/img/Inicialdp.png">
</mat-card> -->

<mat-tab-group mat-align-tabs="center" headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <mat-card>
      <img mat-card-image src="/assets/img/Inicialdp.png">
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <mat-card>
      <img mat-card-image src="/assets/img/inicialhb.png">
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <mat-card>
      <img mat-card-image src="/assets/img/inicialhd.png">
    </mat-card>
  </mat-tab>
</mat-tab-group>

